.social-icons a {
    font-size: 1.5em;
    color: #000000;
    margin-right: 3%;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: #30348d;
}

.copyright {
    margin-top: 2%;
    color: rgba(2, 0, 0, 0.7);
}